OIDC_CLIENT_ID="demo"
OIDC_CLIENT_SECRET="8d6Gb5ZDNY2qlvFxCRNmPh3gozKtidRQ"
OIDC_ISSUER="http://localhost:8180/realms/local"
OIDC_REDIRECT_URL="http://localhost:8080/auth/callback"

KAFKA_BROKERS="localhost:9092"
KAFKA_CONSUMER_GROUP_ID="test-group"

LOGGING_LEVEL="info"

REDIRECT_URL="http://localhost:8080/ui"
